.heroproduct {
    margin-top: 6.3%;
    position: relative;
    background: url('../public/assets/images/clement-helardot-95YRwf6CNw8-unsplash.jpg') ;
    height: 60vh;
}

.landing-inner{
    color: #fff;
        height: 100%;
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
}